body {
    background: rgb(103, 80, 133);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(240, 240, 240);
}

.data-type-wrapper {
    width: 1000px;
    background-color: #555;
    margin: 25px auto;
    display: flex;
    flex-direction: column;

    .data-type-header {
        text-align: center;
        padding: 25px;
    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}